@tailwind base;
@tailwind components;
@tailwind utilities;

#user-doc-div::-webkit-scrollbar {
  display: none;
}

#user-doc-div {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
